<connectionStrings>
	<add name="DefaultConnection" connectionString="Data Source=;Initial Catalog=;User ID=; password=;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>